.ec-uv-chart-footer {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin-left: 2em; 
  margin-right: 2em;
}
.ec-uv-chart-footer .source {
  flex-basis: 100%;
}
.ec-uv-chart-footer img.logo {
  width: 100px; 
  height: 50px;
}
